@inherits LayoutComponentBase

<div class="main-layout">
    <header>
        <Header />
    </header>

    <div class="page">
        @Body
    </div>

    <footer class="site-footer">
        Portal Wars &bull; A Pathfinder 1st Edition Campaign
    </footer>
</div>
